@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	.layout {
		@apply px-5 mx-auto
	}
}



.spinner-svg {
	width: 100%;
	max-width: 10rem;
	animation: rotate 3.4s linear infinite;
}

.spinner-circle {
	fill: none;
	stroke: slateblue;
	stroke-width: 8px;
	stroke-dasharray: 300;
	animation: outline 2s cubic-bezier(0.77,0,0.18,1) infinite;
}

@keyframes outline {
	0% {
		stroke-dashoffset: 0;
	}
	5% {
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dashoffset: 300;
	}
	95% {
		stroke-dashoffset: 600;
	}
	100% {
		stroke-dashoffset: 600;
	}
}

@keyframes rotate {
	from {
		transform: rotate(0turn);
	}
	to {
		transform: rotate(-1turn);
	}
}

/* Scrollbar Styling */
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
	
	background-color: rgb(17 24 39);
}

::-webkit-scrollbar-thumb {
	
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}
